* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --placeholder-color: lightblue;
    --margin: 4%;
    --true-background-color: rgba(255, 255, 255, 0.747);
    --selection-background-color: rgba(255, 255, 255, 0.225);
    --border-color: rgb(157, 157, 157);
    --selection-border-color: rgb(129, 132, 141);
    --text-color: rgb(0, 0, 0);
    --font-size: 1vw;
}

html {
    font-size: 62.5%;
}

.sidebar {
    background-color: white;
}

#sidebarheader1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#sidebarheader2 {
    grid-column-start: 17;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 2;
}

#sidebarmain1 {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;

    .menu {
        background-color: var(--true-background-color);
        border: 0px;
        overflow-y: scroll;
        scrollbar-width: none;

        .dropdown {
            width: inherit;
            position: relative;
            height: 180%;
            align-content: center;
            font-size: larger;
        }

        .dropdown-content {
            display: none;
            width: inherit;

            a {
                font-size: 125%;
                color: var(--text-color);
                text-decoration: none;
            }
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    }

    #productmenu {
        grid-row-start: 1;
        grid-row-end: 12;
    }

    #mainmenu {
        grid-row-start: 3;
        grid-row-end: 12;
        color: var(--text-color);
    }
}

#sidebarmain2 {
    grid-column-start: 17;
    grid-column-end: 21;
}

#sidebarfooter1 {
    grid-column-start: 1;
    grid-column-end: 6;
}

#sidebarfooter2 {
    grid-column-start: 16;
    grid-column-end: 21;
}

body {
    background-image: url(fotos/futuristic-detroit-become-human-e3vakx08mu10tnli.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(20, 5%);
}

header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: fit-content;
    border: 0px;
    align-items: center;
    justify-items: center;
    background-color: white;
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 1;

    #logo {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        aspect-ratio: 1/1;
        width: 100%;
        background-image: url(fotos/cyberlifewhite.png);
        background-repeat: no-repeat;
        background-size: contain;
        align-content: center;

        a {
            text-decoration: none;
            display: inline-block;
            width: inherit;
            aspect-ratio: 1/1;
        }
    }

    #searchbar {
        background-color: rgba(239, 238, 238, 0.7);
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-column-end: 10;
        min-width: 70%;
        min-height: 40%;
        border-radius: 10px;
        border: 1px solid rgb(151, 151, 151);

        .search {
            margin: 2%;
            margin-top: 5%;
            margin-bottom: 5%;
            background-color: transparent;
            outline: none;
            border: 0px;
            padding: 8px;
            border-radius: 8px;
            font-size: var(--font-size);
        }
    }

    #allthree {
        display: flex;
        grid-column-start: 7;
        grid-column-end: 10;
        height: 80%;
        width: fit-content;

        #login {
            margin-top: 5%;
            display: flex;
            height: 85%;
            align-content: center;
            color: var(--text-color);

            a {
                text-decoration: none;
                display: inline-block;
                height: inherit;
                aspect-ratio: 1/1;
                margin: 6%;
            }

            .loginimage {
                border: 0px;
                aspect-ratio: 1/1;
                height: 100%;
                background-color: unset;
                background-image: url(fotos/6681204.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

            .logintext {
                width: fit-content;
                height: inherit;
                align-content: center;
                margin-left: 2%;
                margin-top: 6%;
                font-size: var(--font-size);
                text-wrap: nowrap;
            }
        }

        #cart {
            height: 85%;
            aspect-ratio: 1/1;
            align-content: center;
            margin-top: 6%;
            background-image: url(fotos/cart.png);
            background-size: contain;
            background-repeat: no-repeat;

            a {
                text-decoration: none;
                display: inline-block;
                height: inherit;
                aspect-ratio: 1/1;
                margin: 6%;
            }
        }

        #favorites {
            height: 85%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            align-content: center;
            margin-top: 6%;
            background-image: url(fotos/heart-outline-19.png);
            background-size: contain;
            background-repeat: no-repeat;

            a {
                text-decoration: none;
                display: inline-block;
                height: inherit;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }

    }
}

footer {
    min-height: fit-content;
    background-color: rgb(255, 255, 255);
    border: 0px;
    font-size: var(--font-size);
    grid-column-start: 6;
    grid-column-end: 16;
    grid-row-start: 3;

    .opmaakfooter {
        aspect-ratio: 1/0.65;
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: repeat(8, 12.5%);

        #logocyberlife {
            grid-row-start: 6;
            grid-row-end: 9;
            grid-column-start: 1;
            grid-column-end: 10;
            border: 0px;
            display: flex;
            flex-direction: column-reverse;

            p {
                width: fit-content;
                align-self: center;
                color: var(--selection-border-color);
            }

            .footerlogo {
                background-image: url(fotos/cyberlifewhite.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 30%;
                aspect-ratio: 1/1;
            }
        }

        #box {
            grid-column-start: 1;
            grid-column-end: 10;
            grid-row-start: 1;
            grid-row-end: 6;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            section {
                border-left: 1px solid rgb(196, 196, 196);
                margin: 1%;
                padding-left: 1%;
                color: var(--selection-border-color);
                height: fit-content;
                width: fit-content;
                font-size: larger;
            }

            #contact {
                border: 0px;

                a {
                    color: var(--selection-border-color);
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }
}

main {
    grid-column-start: 5;
    grid-column-end: 17;
    grid-row-start: 2;
}

.montserrat-cyberlife {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.maingrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    font-size: var(--font-size);

    .legeruimte {
        grid-column-start: 2;
        grid-column-end: 9;
        border: 1px;
        border-right: 0px;
        border-color: var(--border-color);
        border-style: solid;
    }

    .side {
        grid-column-start: 9;
        grid-column-end: 10;
    }

    .sidelinks {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #productside {
        grid-row-start: 1;
        grid-row-end: 12;
        background-color: var(--true-background-color);
    }

    #mainside {
        grid-row-start: 4;
        grid-row-end: 12;
        background-color: var(--true-background-color);
    }

    #fotoextra {
        background-color: var(--selection-background-color);
        margin: 2%;
        margin-left: 10%;
        margin-right: 10%;
        aspect-ratio: 2/0.2;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 10;
        border: 1px;
        border-color: var(--selection-border-color);
        border-style: solid;
        background-image: url(fotos/Nn3vQfT5fzwXUCo5yxw37WIf.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
    }

    #koop {
        font-size: larger;
        align-content: center;
        margin: 2%;
        align-self: center;

        #kooptekst {
            color: var(--text-color);
            size: 80%;
            max-width: fit-content;
            text-wrap: wrap;
            text-decoration: none;
            display: inline-block;
            height: inherit;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin: 6%;
        }
    }

    #fillerruimte {
        background-color: var(--true-background-color);
        aspect-ratio: 1/0.07;
        border-color: var(--border-color);
        border-style: solid;
    }

    .filler1 {
        grid-row-start: 1;
        border: 0px;
        border-bottom: 1px;
        grid-column-start: 1;
        grid-column-end: 10;
    }

    .filler3 {
        border: 0px;
        grid-column-start: 1;
        grid-column-end: 10;
    }

    .view {
        overflow-x: auto;
        background-color: var(--selection-background-color);
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-right: 5%;
        grid-column-start: 2;
        grid-column-end: 9;
        border: 1px;
        border-color: var(--selection-border-color);
        border-style: solid;
        color: var(--text-color);
    }

    .buy {
        background-color: var(--true-background-color);
        grid-column-start: 2;
        grid-column-end: 9;
        border: 0px;
        border-color: var(--border-color);
        border-style: solid;
        color: var(--text-color);
        align-content: center;
        font-size: 1.3vw;

        #buytext {
            justify-self: center;
        }

        #android {
            border-top: 1px;
            border-bottom: 1px;
        }

        #onderdeel {
            border-top: 1px;
            border-bottom: 1px;
        }

        #service {
            border-top: 1px;
            border-bottom: 1px;
        }
    }
}

#product {
    display: inline-block;
    justify-items: center;

    .buybutton {
        width: 60%;
        font-size: var(--font-size);
        display: block;
    }
}

#androidGrid {
    display: flex;

    .android {
        margin: var(--margin);
        min-width: 30%;
        aspect-ratio: 1/1.365;
        margin-left: 10%;
        margin-right: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        align-content: flex-end;
    }

    .android:nth-child(1) {
        background-image: url(fotos/HW800.png);
    }

    .android:nth-child(2) {
        background-image: url(fotos/AZ110_Android.png);
    }

    .android:nth-child(3) {
        background-image: url(fotos/CP100_Android.png);
    }

    .android:nth-child(4) {
        background-image: url(fotos/GJ200_android.png);
    }

    .android:nth-child(5) {
        background-image: url(fotos/android.png);
    }

    .android:nth-child(6) {
        background-image: url(fotos/NC200_Android.png);
    }
}

#onderdeelGrid {
    display: flex;

    .onderdeel {
        background-color: var(--placeholder-color);
        margin: var(--margin);
        min-width: 30%;
        aspect-ratio: 1/1.365;
        margin-left: 10%;
        margin-right: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        align-content: flex-end;
    }

    .onderdeel:nth-child(1) {}

    .onderdeel:nth-child(2) {}

    .onderdeel:nth-child(3) {}

    .onderdeel:nth-child(4) {}

    .onderdeel:nth-child(5) {}
}

#serviceGrid {
    display: flex;

    .service {
        background-color: var(--placeholder-color);
        margin: var(--margin);
        min-width: 30%;
        aspect-ratio: 1/1.365;
        margin-left: 10%;
        margin-right: 10%;
        background-size: contain;
        background-repeat: no-repeat;
        align-content: flex-end;
    }

    .service:nth-child(1) {}

    .service:nth-child(2) {}

    .service:nth-child(3) {}

    .service:nth-child(4) {}

    .service:nth-child(5) {}
}

#reviewGrid {
    display: flex;

    .review {
        background-color: unset;
        margin: var(--margin);
        min-width: 40%;
        aspect-ratio: 1/1.365;
        margin-left: 5%;
        margin-right: 5%;
        font-size: larger;
    }
}