* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --placeholder-color: lightblue;
    --margin: 4%;
    --true-background-color: rgba(255, 255, 255, 0.747);
    --selection-background-color: rgba(255, 255, 255, 0.225);
    --border-color: rgb(157, 157, 157);
    --selection-border-color: rgb(129, 132, 141);
    --text-color: rgb(0, 0, 0);
}

html {
    font-size: 62.5%;
}


body {
    background-image: url(fotos/futuristic-detroit-become-human-e3vakx08mu10tnli.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: fit-content;
    border: 0px;
    border-bottom: 1px;
    border-color: var(--border-color);
    border-style: solid;
    align-items: center;
    justify-items: center;
    background-color: white;

    #logo {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        height: 85%;
        width: 100%;
        background-image: url(fotos/cyberlifewhite.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #searchbar {
        background-color: rgba(241, 239, 239, 0.7);
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-column-end: 10;
        min-width: 70%;
        min-height: 40%;
        border-radius: 10px;

        .search {
            margin: 2%;
            margin-top: 5%;
            margin-bottom: 5%;
            background-color: transparent;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.4);
            padding: 8px;
            border-radius: 8px;
        }
    }

    #allthree {
        display: flex;
        grid-column-start: 6;
        grid-column-end: 9;
        height: 80%;
        width: fit-content;

        #login {
            margin-top: 5%;
            margin-left: 2%;
            margin-right: 2%;
            display: flex;
            height: 85%;
            aspect-ratio: 3/1;
            align-content: center;
            color: var(--text-color);

            a {
                text-decoration: none;
                display: inline-block;
                height: inherit;
                aspect-ratio: 1/1;
                margin: 6%;
            }


            .loginimage {
                border: 0px;
                aspect-ratio: 1/1;
                height: 100%;
                background-color: unset;
                background-image: url(fotos/6681204.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

            .logintext {
                width: fit-content;
                height: inherit;
                align-content: center;
                margin-left: 2%;
            }
        }

        #cart {
            background-color: beige;
            height: 85%;
            aspect-ratio: 1/1;
            align-content: center;
            margin-top: 6%;
            background-image: url(fotos/shopping-cart-logo-icon-shopping-cart.jpg);
            background-size: contain;
            background-repeat: no-repeat;

            a {
                text-decoration: none;
                display: inline-block;
                height: inherit;
                aspect-ratio: 1/1;
                margin: 6%;
            }
        }

        #favorites {
            height: 85%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            align-content: center;
            margin-top: 6%;
            background-image: url(fotos/heart-outline-19.png);
            background-size: contain;
            background-repeat: no-repeat;

            a {
                text-decoration: none;
                display: inline-block;
                height: inherit;
                aspect-ratio: 1/1;
                border-radius: 50%;
                margin: 6%;
            }
        }

    }
}

footer {
    min-height: fit-content;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-top: 1px;
    border-color: var(--selection-border-color);
    border-style: solid;

    .opmaakfooter {
        aspect-ratio: 1/0.65;
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: repeat(8, 12.5%);

        #logocyberlife {
            background-repeat: no-repeat;
            background-size: cover;
            grid-row-start: 6;
            grid-row-end: 9;
            grid-column-start: 2;
            grid-column-end: 8;
            background-image: url(fotos/cyberlifewhite.png);
            background-repeat: no-repeat;
            background-size: contain;

            a {
                text-decoration: none;
                display: inline-block;
                height: inherit;
                width: inherit;
            }
        }

        #contact {
            a {
                text-decoration: none;
                display: inline-block;
                color: var(--text-color);
                font-size: larger;
            }
        }

        #copyright {
            height: fit-content;
            width: fit-content;
            font-size: larger;
            color: var(--text-color);
        }

        #box {
            background-color: rgb(120, 183, 184);
            grid-column-start: 2;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 6;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.montserrat-cyberlife {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.maingrid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    min-height: fit-content;

    .legeruimte {
        grid-column-start: 2;
        grid-column-end: 6;
        border: 1px;
        border-right: 0px;
        border-color: var(--border-color);
        border-style: solid;
    }

    #productmenu {
        grid-row-start: 1;
        grid-row-end: 12;
    }

    #mainmenu {
        grid-row-start: 4;
        grid-row-end: 12;
        color: var(--text-color);
    }

    .menu {
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: var(--true-background-color);
        border: 0px;
        overflow-y: scroll;
        scrollbar-width: none;

        .dropdown {
            width: inherit;
            position: relative;
            height: 180%;
            align-content: center;
            font-size: larger;
        }


        .dropdown-content {
            display: none;
            width: inherit;

            a {
                font-size: 125%;
                color: var(--text-color);
                text-decoration: none;
            }
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    }

    #fotoextra {
        background-color: var(--selection-background-color);
        margin: 2%;
        margin-left: 10%;
        margin-right: 10%;
        aspect-ratio: 1/0.564;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 6;
        border: 1px;
        border-color: var(--selection-border-color);
        border-style: solid;
        background-image: url(fotos/Nn3vQfT5fzwXUCo5yxw37WIf.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
    }

    #koop {
        font-size: larger;
        align-content: center;
        margin: 2%;
        align-self: center;

        #kooptekst {
            color: var(--text-color);
            size: 80%;
            max-width: fit-content;
            text-wrap: wrap;
            text-decoration: none;
            display: inline-block;
            height: inherit;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin: 6%;
        }
    }

    #fillerruimte {
        background-color: var(--true-background-color);
        aspect-ratio: 1/0.07;
        border-color: var(--border-color);
        border-style: solid;
    }

    .filler1 {
        grid-row-start: 1;
        border: 0px;
        border-bottom: 1px;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .filler2 {
        grid-row-start: 3;
        grid-column-start: 1;
        border: 0px;
        border-top: 1px;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .filler3 {
        grid-column-start: 1;
        border: 0px;
        grid-column-start: 2;
        grid-column-end: 6;
    }

    .view {
        overflow-x: auto;
        background-color: var(--selection-background-color);
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
        grid-column-start: 2;
        grid-column-end: 6;
        border: 1px;
        border-right: 0px;
        border-color: var(--selection-border-color);
        border-style: solid;
        color: var(--text-color);

        .buybutton {}
    }

    .buy {
        aspect-ratio: 1/0.07;
        background-color: var(--true-background-color);
        grid-column-start: 2;
        grid-column-end: 6;
        border: 0px;
        border-color: var(--border-color);
        border-style: solid;
        color: var(--text-color);

        #android {
            height: fit-content;
            border-top: 1px;
            border-bottom: 1px;
        }

        #onderdeel {
            border-top: 1px;
            border-bottom: 1px;
        }

        #review {}
    }
}

#androidGrid {
    display: flex;

    .android {
        margin: var(--margin);
        min-width: 30%;
        aspect-ratio: 1/1.365;
        margin-left: 5%;
        margin-right: 5%;
        background-size: contain;
        background-repeat: no-repeat;
        align-content: flex-end;
    }

    #A1 {
        background-image: url(fotos/HW800.png);
    }

    #A2 {
        background-image: url(fotos/AZ110_Android.png);
    }

    #A3 {
        background-image: url(fotos/CP100_Android.png);
    }

    #A4 {
        background-image: url(fotos/GJ200_android.png);
    }

    #A5 {
        background-image: url(fotos/android.png);
    }

    #A6 {
        background-image: url(fotos/NC200_Android.png);
    }
}

#onderdeelGrid {
    display: flex;

    .onderdeel {
        background-color: var(--placeholder-color);
        margin: var(--margin);
        min-width: 30%;
        aspect-ratio: 1/1.365;
        margin-left: 5%;
        margin-right: 5%;
        background-size: contain;
        background-repeat: no-repeat;
        align-content: flex-end;
    }

    #O1 {}

    #O2 {}

    #O3 {}

    #O4 {}

    #O5 {}
}

#reviewGrid {
    display: flex;

    .review {
        background-color: unset;
        margin: var(--margin);
        min-width: 30%;
        aspect-ratio: 1/1.365;
        margin-left: 5%;
        margin-right: 5%;
        font-size: larger;
    }
}